<app-header></app-header>
<form *ngIf="!isForgotPassword" (ngSubmit)="routerPage()">
  <div class="form-login mb-5 mt-5">
    <h2 class="title-form text-center mb-5">MOM SHOP</h2>
    <div class="form-input">
      <input
        type="email"
        class="input mb-4"
        placeholder="Email"
        required
        name="email"
        [(ngModel)]="user.email"
      />
      <input
        type="password"
        class="input"
        placeholder="Mật khẩu"
        required
        name="password"
        [(ngModel)]="user.password"
      />
    </div>
    <p class="note-footer">
      This site is protected by reCAPTCHA and the Google Privacy Policy and
      Terms of Service apply.
    </p>
    <div class="form-footer">
      <button class="btn-login" type="submit">Đăng nhập</button>
      <div class="text-footer">
        <p class="text-forgot-password" (click)="toggleForgotPassword()">
          Quên mật khẩu?
        </p>
        <a class="text-register" (click)="routerRegister()">
          <span class="text-gray">hoặc</span>
          Đăng kí
        </a>
      </div>
    </div>
  </div>
</form>

<form *ngIf="isForgotPassword" (ngSubmit)="confirmForgotPassword()">
  <div class="form-login mb-5 mt-5">
    <h2 class="title-form text-center mb-5">Quên Mật Khẩu</h2>
    <div class="form-input">
      <input
        type="email"
        class="input mb-4"
        placeholder="Nhập email của bạn"
        required
        [(ngModel)]="forgotPasswordEmail"
        name="forgotPasswordEmail"
      />
    </div>
    <div class="form-footer">
      <button class="btn-login" type="submit">Xác nhận</button>
      <p class="text-back-login" (click)="toggleForgotPassword()">
        Quay lại đăng nhập
      </p>
    </div>
  </div>
</form>
<app-footer></app-footer>
