<p-toast></p-toast>
<p-confirmDialog [style]="{width: 'auto', 'min-width': '300px'}" header="Thông báo"
    [baseZIndex]="10000"></p-confirmDialog>
<div class="container1" style="overflow: scroll; height: 100%;">
    <div class="user">
        <div class="mb-2">
            <button (click)="backToReceivedOrder()" pButton pRipple type="button" icon="pi pi-angle-left"
                class="p-button-rounded p-button-text" label="Quay lại"></button>
        </div>
        <div class="card p-fluid" style="margin: 0 40px; max-height: 600px; overflow-y: auto; ">
            <div class="row" style="margin: 20px">
                <div>
                    <div class="row">
                        <!-- Tiêu đề -->
                        <h5 class="mb-2">
                            <ng-container *ngIf="receiveOrder.id; else addOrderTitle">
                                Sửa hoá đơn: {{ receiveOrder.id }}
                            </ng-container>
                            <ng-template #addOrderTitle>Thêm mới hóa đơn</ng-template>
                        </h5>
                        <hr class="hr-line">

                        <!-- Mã hóa đơn -->
                        <div class="col-6 col-md-4" *ngIf="receiveOrder.id">
                            <div class="field">
                                <label class="mb-2" htmlFor="code">Mã hóa đơn<span class="required-field"> *
                                    </span></label>
                                <input [(ngModel)]="receiveOrder.code" type="text" id="code" name="code" pInputText
                                    maxlength="256" class="form-control" />
                            </div>
                        </div>

                        <!-- Tên nhà cung cấp -->
                        <div class="col-6 col-md-4" *ngIf="receiveOrder.id">
                            <div class="field">
                                <label class="mb-2" htmlFor="supplier">Tên nhà cung cấp<span class="required-field"> *
                                    </span></label>
                                <input type="text" id="supplier" name="supplier" pInputText
                                    [(ngModel)]="receiveOrder.supplier" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6 col-md-4" *ngIf="!receiveOrder.id">
                            <div class="field">
                                <label class="mb-2" htmlFor="supplier">Tên nhà cung cấp<span class="required-field"> *
                                    </span></label>
                                <input type="text" id="supplier" name="supplier" pInputText
                                    [(ngModel)]="receiveOrder.supplier" class="form-control" />
                            </div>
                        </div>

                        <!-- Ngày nhận đơn -->
                        <div class="col-6 col-md-4">
                            <div class="field">
                                <label class="mb-2" htmlFor="receivedDate">Ngày nhận đơn<span class="required-field"> *
                                    </span></label>
                                <p-calendar name="receivedDate" [(ngModel)]="receiveOrder.receivedDate"
                                    dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
                                    [showButtonBar]="true"></p-calendar>
                            </div>
                        </div>

                        <!-- Người nhận -->
                        <div class="col-6 col-md-4">
                            <div class="field">
                                <label class="mb-2" htmlFor="receiver">Người nhận<span class="required-field"> *
                                    </span></label>
                                <input type="text" id="receiver" name="receiver" pInputText
                                    [(ngModel)]="receiveOrder.receiver" class="form-control" />
                            </div>
                        </div>

                        <!-- Trạng thái -->
                        <div class="col-6 col-md-4">
                            <div class="field">
                                <label class="mb-2" htmlFor="status">Trạng thái<span class="required-field"> *
                                    </span></label>
                                <p-dropdown appendTo="body" optionValue="code" name="status" optionLabel="name"
                                    [(ngModel)]="receiveOrder.status" [options]="listStatus" [style]="{'width':'100%'}"
                                    class="form-control" />
                            </div>
                        </div>

                        <!-- Mô tả -->
                        <div class="col-12">
                            <label class="label-text mb-2">Mô tả</label>
                            <textarea style="width: 100%; max-width: 100%;" rows="5" pInputTextarea
                                [(ngModel)]="receiveOrder.description" name="description"
                                class="form-control"></textarea>
                        </div>

                        <!-- Tổng tiền -->
                        <div class="col-6 col-md-4" *ngIf="receiveOrder.id">
                            <div class="field">
                                <label htmlFor="totalMoney">Tổng tiền</label>
                                <input [(ngModel)]="receiveOrder.totalMoney" type="text" id="totalMoney"
                                    name="totalMoney" pInputText style="border: none;" readonly class="form-control" />
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>
                <div>
                    <hr class="mt-4">
                </div>

                <div style="max-height: 250px; overflow-y: auto;">
                    <div class="row" style="position: sticky; top: 0; background-color: white; z-index: 10;">
                        <div class="col-11">
                            <h5 class="ml-2">
                                Thông tin chi tiết
                            </h5>
                        </div>
                        <div class="col-2">
                            <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2"
                                style="height: 40px;" (click)="addvalue()">
                            </button>
                        </div>
                    </div>

                    <ng-container class="product-detail"
                        *ngFor="let receivedOrderDetail of receivedOrderDetails; let i = index"
                        style="max-height: 100px; overflow-y: auto;">

                        <div class="row align-items-center mb-2 d-flex" style="height: 100px;">
                            <!-- Mã sản phẩm -->
                            <div class="col-1 d-flex align-items-center">
                                <div class="field">
                                    <label htmlFor="code" class="form-label">Mã SP <span class="required-field"> *
                                        </span></label>
                                    <input [(ngModel)]="receivedOrderDetail.code" type="text" id="code" name="code"
                                        class="form-control form-control-sm" />
                                </div>
                            </div>

                            <!-- Tên sản phẩm -->
                            <div class="col-2 d-flex align-items-center">
                                <div class="field">
                                    <label htmlFor="name" class="form-label">Tên sản phẩm <span class="required-field">
                                            * </span></label>
                                    <input [(ngModel)]="receivedOrderDetail.name" type="text" id="name" name="name"
                                        class="form-control form-control-sm" />
                                </div>
                            </div>

                            <!-- Loại sản phẩm -->
                            <div class="col-2 d-flex align-items-center">
                                <div class="field">
                                    <label htmlFor="type" class="form-label">Loại sản phẩm <span class="required-field">
                                            * </span></label>
                                    <p-dropdown appendTo="body" optionValue="code" name="type" optionLabel="name"
                                        [(ngModel)]="receivedOrderDetail.type" [options]="types" inputId="type"
                                        class="form-control-sm" style="width: 100%;"></p-dropdown>
                                </div>
                            </div>

                            <!-- Size sản phẩm -->
                            <div class="col-1 d-flex align-items-center">
                                <div class="field">
                                    <label htmlFor="size" class="form-label">Size <span class="required-field"> *
                                        </span></label>
                                    <input [(ngModel)]="receivedOrderDetail.size" type="text" id="size" name="size"
                                        class="form-control form-control-sm" />
                                </div>
                            </div>

                            <!-- Số lượng sản phẩm -->
                            <div class="col-2 d-flex align-items-center">
                                <div class="field">
                                    <label htmlFor="quantity" class="form-label">Số lượng <span class="required-field">
                                            * </span></label>
                                    <input [(ngModel)]="receivedOrderDetail.quantity" type="number" id="quantity"
                                        name="quantity" class="form-control form-control-sm" />
                                </div>
                            </div>

                            <!-- Đơn giá sản phẩm -->
                            <div class="col-1 d-flex align-items-center">
                                <div class="field">
                                    <label htmlFor="unitPrice" class="form-label">Đơn giá</label>
                                    <input [(ngModel)]="receivedOrderDetail.unitPrice" type="text" id="unitPrice"
                                        name="unitPrice" class="form-control form-control-sm" />
                                </div>
                            </div>

                            <!-- Mô tả sản phẩm -->
                            <div class="col-2 d-flex align-items-center">
                                <div class="field">
                                    <label htmlFor="description" class="form-label">Mô tả</label>
                                    <input [(ngModel)]="receivedOrderDetail.description" type="text" id="description"
                                        name="description" class="form-control form-control-sm" />
                                </div>
                            </div>

                            <!-- Icon xóa sản phẩm -->
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <i class="pi pi-trash text-danger"
                                    style="font-size: 1.5rem; cursor: pointer; margin-top: 30px;"
                                    (click)="removeDetail(i)"></i>
                            </div>
                        </div>
                    </ng-container>

                </div>

            </div>

        </div>
        <div class="mt-2">
            <button style="float: right; margin-right: 40px; height: 40px;" pButton pRipple label="Lưu"
                (click)="save()"></button>
        </div>
    </div>
</div>